* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: rgb(200, 200, 200);
    font-size: 18px;
}

.navbar span{
    color: rgb(113, 0, 174);
}

.navbar-brand{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
}

.nav-link{
    color: rgb(180, 25, 250) !important;
}    
.nav-link:hover{
    color: rgb(1, 50, 75) !important;
    font-weight: bold;
}
.navbar-toggler{
    border: none;
}

.fa-bars-staggered{
    color: rgb(180, 25, 250);
}

.jumbotron{
    padding: 220px 0 0 0;
    background-image: url(/media/portada.png);
    background-size: cover;
    background-position: center;
    height: 600px;   
    border-radius: 0;
    margin-bottom: 0;
}
.jumbotron h1{
    font-weight: bold;
}
.jumbotron .container{
    padding-right: 45%;
}

h2{
    text-align: center;
    background-color: rgb(200, 200, 200);
    color: rgb(180, 25, 250);
    padding: 20px;
    margin-bottom: 0;
}

.container-fluid{
    height: 300px;
}
.container-fluid .row{
    height: 300px;
}

.empresa .nleft{
    background-image: url(/media/nosotros.png);
    background-size: cover;
    background-position: top;
}

.empresa .nright{
    padding: 10px 40px;
}

.empresa .nright h3{
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

.ampliar_quienes_somos {
    background-image: radial-gradient(rgba(255, 237, 252, 0.76), rgba(255, 160, 250, 0.655));
}
.contenedor {
    padding: 4%;
}

.contenedor h3{
    font-weight: 700;
    font-size: 26px;
    padding-bottom: 30px;
}

.contenedor h4{
    font-size: 20px;
}

.simulador .nright{
    background-image: url(/media/darse_la_mano.png);
    background-size: cover;
    background-position: top;
}
.simulador .nleft{
    padding: 10px 40px;
}
.simulador .nleft h3{
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

section{
    height: 100%;
    background-color: rgb(235, 235, 235);
}
form{
    padding: 10px 0px;
}
label{
    font-size: 20px;
    padding: 5px;
    margin: 10px;
}
input{
    font-size: 20px;
    padding: 5px;
    font-style: italic;
}
.btn{
    font-size: 20px;
    padding: 5px;
    margin-left: 10px;
}
.tabla{
    border: solid 1px black;
    margin: 30px 30px ;
    padding: 10px;
}
.cuota{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}
.cuota h3{
    font-size: 20px;
    font-weight: bold;
}
.cuota h4{
    font-size: 18px;
}
.resumen h3{
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
}
#sueldoMinimo{
    font-size: 22px;
    font-weight: bold;
}

footer{
    height: 250px;
    background-color: rgb(200, 200, 200);
    color: rgb(180, 25, 250);
    padding: 10px 20px 10px;  
    font-size: 18px;  
}
footer li {
    margin: 0px 10px 0px;
    padding: 15px;
}
.info_contacto ul{
    list-style: none;
}

.redes {
    height: 150px;
    width: 35px;
    font-size: 35px;
    position: fixed;
    right: 4px;
    top: 30%;
    display: block;
}
.redes a {
    color: rgb(80, 10, 100);
    text-shadow: 0 0 10px rgb(255, 255, 255);
}
.redes i {
    transition: 1.1s;
}
.redes i:hover {
    transform: rotate(360deg);
    transition: 1.1s;
}

#redes_novedades a {
    color: hsl(0, 0%, 97%);
    text-shadow: 0 0 10px rgb(6, 40, 61);
}